:root {
  --primary-font: 'Manrope', sans-serif;

  --charcoal-black-rgb: 18, 20, 23;
  --charcoal-black-color: rgb(var(--charcoal-black-rgb));
  --white-color-rgb: 255, 255, 255;
  --white-color: #fff;
  --green-rgb: 77, 194, 116;
  --green-color: rgb(var(--green-rgb));
  --green-pressed-color: #38ae5f;
  --light-green-color: #d4fde1;
  --light-green-underline: #bee8cc;
  --gray-color: #f3f5f6;
  --charcoal-light: rgba(var(--charcoal-black-rgb), 0.5);

  --primary-text-color: var(--charcoal-black-color);
  --primary-bg-color: var(--white-color);

  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 300ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background-color: var(--primary-bg-color);
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5;
  color: var(--primary-text-color);
}

main {
  flex-grow: 1;
}