.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  transition: background-color var(--transition-duration);
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.714;
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 16px 40px;
    font-size: 18px;
    line-height: 1.555;
  }
}

.btn-primary {
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
  color: var(--white-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--green-pressed-color);
}

.btn-secondary {
  background-color: var(--green-color);
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.btn-secondary:hover,
.btn-primary:focus {
  background-color: var(--white-color);
  color: var(--green-color);
}