.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.714;
  padding: 14px 87px;
  border-radius: 12px;
  white-space: nowrap;
  transition: background-color var(--transition-duration)
    var(--transition-function);
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
    line-height: 1.555;
    padding: 16px 64px;
  }
}
.btn-primary {
  color: var(--white-color);
  background-color: var(--green-color);
  border: 1px solid var(--green-color);
}
.btn-primary:hover {
  background-color: var(--green-pressed-color);
}
.btn-secondary {
  color: var(--white-color);
  background-color: var(--green-color);
  border: 1px solid var(--white-color);
}
.btn-secondary:hover {
  color: var(--green-color);
  background-color: var(--white-color);
}
