.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 40px;
}

@media only screen and (min-width: 768px) {
  .card-set {
    row-gap: 32px;
  }
}

.card-set-item {
  width: calc((100% - 32px * (var(--items) - 1)) / var(--items));
  display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

