.section {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1152px) {
  .section {
    padding: 75px 0;
  }
}

.section-heading {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;
  text-align: center;
  letter-spacing: -0.02rem;
}

@media only screen and (min-width: 768px) {
  .section-heading {
    font-size: 40px;
    line-height: 1.2;
  }
}

.secondary-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.714;
  color: rgba(var(--charcoal-black-rgb), 0.5);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .secondary-text {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.666;
  }
}

.brand-underline {
  display: inline-block;
  position: relative;
}

.brand-underline::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 24px;
  width: 100%;
  height: 12px;
  background-color: var(--light-green-underline);
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .brand-underline::after {
    top: 35px;
    height: 20px;
  }
}

@media only screen and (min-width: 1152px) {
  .brand-underline::after {
    top: 31px;
  }
}