.application .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.application .secondary-text {
  margin-bottom: 20px;
  color: rgba(var(--charcoal-black-rgb), 0.8);
}

@media only screen and (min-width: 768px) {
  .application .secondary-text {
    max-width: 586px;
    margin-bottom: 64px;
    color: rgba(var(--charcoal-black-rgb), 0.5);
  }
}

.application-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 1152px) {
  .application-content {
    flex-direction: row;
  }
}

.application-decor {
  display: none;
  overflow: hidden;
  width: 492px;
  height: 578px;
  margin-right: 32px;
  background-color: var(--green-color);
  border-radius: 30px;
}

@media only screen and (min-width: 1152px) {
  .application-decor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

.application-decor-picture {
  overflow: hidden;
  width: 597px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.application-decor-photo {
  object-fit: cover;
  object-position: center 35%;
  width: 100%;
  height: 100%;
}

.application-decor-content {
  padding: 20px 20px 40px;
}

.application-decor-title {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white-color);
  text-align: center;
  letter-spacing: -0.02em;
}

.application-decor-text {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(var(--white-color-rgb), 0.7);
  text-align: center;
}

.application-form {
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .application-form {
    max-width: 500px;
  }
}

.application-choice {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .application-choice {
    margin-top: 14px;
    margin-bottom: 32px;
  }
}

.application-choice-title {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .application-choice-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 1152px) {
  .application-choice-title {
    margin-bottom: 16px;
  }
}

.application-choice-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .application-choice-group {
    flex-direction: row;
    gap: 16px;
  }
}

.application-choice-item:not(:last-child) {
  margin-bottom: 10px;
}

.application-button {
  width: 100%;
  margin-bottom: 16px;
}

.application-privacy {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: rgba(var(--charcoal-black-rgb), 0.5);
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .application-privacy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.privacy-link {
  text-decoration-skip-ink: none;
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .new-line {
    display: block;
  }
}