.proposal-inner {
  padding: 40px 20px 64px;
  background: linear-gradient(to right, var(--green-color), var(--light-green-underline));
  border-radius: 16px;
}

@media only screen and (max-width: 767.9px) {
  .proposal-inner {
    overflow: hidden;
  }
}

.proposal-heading {
  margin-bottom: 65px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  color: var(--white-color);
}

.proposal-heading-color {
  color: var(--light-green-underline);
}

.proposal-content-wrapper {
  position: relative;
  z-index: 1;
  border-radius: 16px;
}

.proposal-content-wrapper::after,
.proposal-content-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.proposal-content-wrapper::after {
  z-index: 2;
  transform: rotate(-11deg);
  background-color: var(--light-green-color);
}

.proposal-content-wrapper::before {
  z-index: 3;
  opacity: 50%;
  transform: rotate(9deg);
  background-color: var(--white-color);
}

.proposal-content {
  position: relative;
  z-index: 4;
  padding: 40px 20px 40px;
  background-color: var(--white-color);
  border-radius: 16px;
}

.proposal-content-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.proposal-content-list {
  margin-bottom: 20px;
}

.proposal-content-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.proposal-content-item:last-child {
  margin-bottom: 0;
}

.proposal-content-item-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  text-align: left;
  letter-spacing: -0.02em;
}

.proposal-checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-color: var(--green-color);
  border-radius: 50%;
  color: var(--white-color);
}

.check-icon {
  stroke: var(--white-color);
  fill: none;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.proposal-info-wrapper {
  display: flex;
}

.books-photo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .proposal-inner {
    padding: 64px 32px 93px;
  }

  .proposal-heading {
    margin-bottom: 83px;
    font-size: 60px;
    line-height: 1.167;
  }

  .proposal-content-wrapper {
    margin: 0 -12px;
  }

  .proposal-content {
    padding: 65px 32px 63px;
  }

  .proposal-content-title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 1.2;
  }

  .proposal-content-list {
    margin-bottom: 32px;
  }

  .proposal-content-item-text {
    font-size: 20px;
    line-height: 1.2;
  }

  .proposal-checkmark {
    width: 28px;
    height: 28px;
    margin-right: 16px;
  }

  .check-icon {
    width: 20px;
    height: 20px;
  }

  .books-photo {
    display: block;
    width: 214px;
    margin-right: -82px;
    margin-left: 20px;
  }

  .proposal-button {
    max-width: 306px;
  }
}

@media only screen and (min-width: 1152px) {
  .proposal .container {
    padding: 0;
  }

  .proposal-inner {
    padding: 64px 64px 142px;
  }

  .proposal-heading {
    margin-bottom: 131px;
  }

  .proposal-content {
    padding: 65px 64px 63px;
  }

  .proposal-info-wrapper {
    justify-content: space-between;
  }

  .proposal-content-list {
    max-width: 654px;
    margin-bottom: 39px;
  }

  .books-photo {
    margin-right: -31px;
  }
}