.teachers-list-item.card-set-item {
  --items: 1;
}

@media only screen and (min-width: 768px) {
  .teachers-list-item.card-set-item {
    --items: 2;
  }
}

@media only screen and (min-width: 1152px) {
  .teachers-list-item.card-set-item {
    --items: 4;
  }
}

.teachers-list-item-photo {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 16px;
}

.teachers-list-item-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--charcoal-black-color);
  margin-bottom: 8px;
}