.mobile-menu-btn,
.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.menu-close-btn {
  align-self: end;
  position: absolute;
  top: 20px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn,
  .menu-close-btn {
    width: 40px;
    height: 40px;
    margin: -6px 0;
  }
}
@media only screen and (min-width: 1152px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-btn .burger-icon,
.menu-close-btn .close-icon {
  display: block;
  width: 100%;
}

.mobile-menu-btn .burger-icon {
  stroke: var(--charcoal-black-color);
}
.menu-close-btn .close-icon {
  stroke: var(--white-color);
}

.mobile-menu-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 60px 20px 20px;
  width: 50dvw;
  min-width: 240px;
  height: 100dvh;
  background-color: var(--green-color);
  pointer-events: none;
  transform: translateX(100%);
  transition: transform var(--transition-duration) var(--transition-function);
}
@media only screen and (min-width: 768px) {
  .mobile-menu-panel {
    padding: 68px 32px 32px;
  }
}

.mobile-menu-panel.is-open {
  pointer-events: all;
  transform: translateX(0);
}

.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(var(--charcoal-black-rgb), 0);
  pointer-events: none;
  transition: background-color var(--transition-duration) var(--transition-function);
}

.mobile-menu-panel.is-open + .mobile-menu-backdrop {
  background-color: rgba(var(--charcoal-black-rgb), 0.6);
  pointer-events: all;
}

@media only screen and (min-width: 1152px) {
  .mobile-menu-panel {
    display: none;
  }
}

.mobile-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 120px;
}

.mobile-nav-menu li {
  text-align: center;
}

.mobile-nav-link {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--white-color);
}