<section class="section about-us" id="about-us">
  <div class="container">
    <h2 class="section-heading">
      About <span class="brand-underline">Us</span>
    </h2>
    <p class="secondary-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <ol class="about-us-list">
      <li class="about-us-list-item animate__animated animate__delay-2s">
        <p class="about-us-list-text">
          Expert, innovative teaching staff
        </p>
      </li>
      <li class="about-us-list-item animate__animated">
        <p class="about-us-list-text">
          Wide range of course levels and options
        </p>
      </li>
      <li class="about-us-list-item animate__animated animate__delay-3s">
        <p class="about-us-list-text">
          Multicultural learning environment
        </p>
      </li>
      <li class="about-us-list-item animate__animated animate__delay-1s">
        <p class="about-us-list-text">
          Comprehensive language support services
        </p>
      </li>
    </ol>
  </div>
</section>