<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <h1 class="hero-title">
          Discover the joy of learning <span>English</span> with us!
        </h1>
        <a class="btn btn-primary" href="#leave-application">Leave an application</a>
      </div>
      <a class="hero-scroll-down" href="#footer" aria-label="Scroll down">
        <svg class="hero-icon" width="20" height="20">
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
