<section class="section proposal">
  <div class="container">
    <h2 class="visually-hidden">Proposal to leave an application</h2>
    <div class="proposal-inner">
      <h3 class="proposal-heading">
        Master the <span class="proposal-heading-color">Language</span>
        with Our English Package!
      </h3>
      <div class="proposal-content-wrapper">
        <div class="proposal-content">
          <p class="proposal-content-title">Power of English</p>
          <div class="proposal-info-wrapper">
            <div>
              <ul class="proposal-content-list">
                <li class="proposal-content-item">
                  <div class="proposal-checkmark">
                    <svg class="check-icon">
                      <use href="./images/sprite.svg#check"></use>
                    </svg>
                  </div>
                  <p class="proposal-content-item-text">
                    Dive into captivating lessons designed to stimulate your
                    curiosity.
                  </p>
                </li>
                <li class="proposal-content-item">
                  <div class="proposal-checkmark">
                    <svg class="check-icon">
                      <use href="./images/sprite.svg#check"></use>
                    </svg>
                  </div>
                  <p class="proposal-content-item-text">
                    Learn in a nurturing setting where every student's progress
                    matters.
                  </p>
                </li>
                <li class="proposal-content-item">
                  <div class="proposal-checkmark">
                    <svg class="check-icon">
                      <use href="./images/sprite.svg#check"></use>
                    </svg>
                  </div>
                  <p class="proposal-content-item-text">
                    Experience the satisfaction of real progress as your
                    language skills and confidence grow with every session.
                  </p>
                </li>
              </ul>
              <a class="btn btn-primary proposal-button" href="#leave-application">
                Leave an application
              </a>
            </div>
            <img
              class="books-photo"
              srcset="./images/proposal/books.png 1x, ./images/proposal/books@2x.png 2x"
              src="../images/proposal/books@.png"
              loading="lazy"
              alt="Books"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
