<section class="section proposal">
  <div class="container">
    <div class="proposal-container-gradient">
      <h3 class="proposal-section-heading">
        Master the <span class="proposal-section-heading-color">Language</span> with Our English Package!
      </h3>
      <div class="proposal-container-info">
        <div class="proposal-container-info-main">
          <p class="proposal-content-title">Power of English</p>
          <div class="proposal-content-item">
            <div class="proposal-checkmark-icon">✔</div>
            <p class="proposal-content-item-text">
              Dive into captivating lessons designed to stimulate your curiosity.
            </p>
          </div>
          <div class="proposal-content-item">
            <div class="proposal-checkmark-icon">✔</div>
            <p class="proposal-content-item-text">
              Dive into captivating lessons designed to stimulate your curiosity.
            </p>
          </div>
          <div class="proposal-content-item">
            <div class="proposal-checkmark-icon">✔</div>
            <p class="proposal-content-item-text">
              Dive into captivating lessons designed to stimulate your curiosity.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
