<section class="section" id="reviews">
  <div class="container">
    <h2 class="section-heading">
      What our <span class="brand-underline">students</span> say
    </h2>
    <p class="secondary-text">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="review-cards-list">
      <li class="review-card">
        <div class="review-header">
          <img
            class="review-photo"
            srcset="./images/reviews/anna.jpg 1x, ./images/reviews/anna@2x.jpg 2x"
            src="./images/reviews/anna.jpg"
            alt="Anna"
          />
          <div class="review-names">
            <div class="review-name">Anna</div>
            <div class="review-position">Student</div>
          </div>
        </div>
        <div class="review-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </div>
      </li>
      <li class="review-card">
        <div class="review-header">
          <img
            class="review-photo"
            srcset="
              ./images/reviews/mykhailo.jpg    1x,
              ./images/reviews/mykhailo@2x.jpg 2x
            "
            src="./images/reviews/anna-mob.png"
            alt="Anna"
          />
          <div class="review-names">
            <div class="review-name">Mykhailo</div>
            <div class="review-position">Student</div>
          </div>
        </div>
        <div class="review-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </div>
      </li>
      <li class="review-card">
        <div class="review-header">
          <img
            class="review-photo"
            srcset="
              ./images/reviews/viktoria.jpg    1x,
              ./images/reviews/viktoria@2x.jpg 2x
            "
            src="./images/reviews/anna-mob.png"
            alt="Anna"
          />
          <div class="review-names">
            <div class="review-name">Victoria</div>
            <div class="review-position">Student</div>
          </div>
        </div>
        <div class="review-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </div>
      </li>
    </ul>
  </div>
</section>
