<section class="section teachers" id="teachers">
  <div class="container">
    <h2 class="teachers-title section-heading">Meet our <span class="brand-underline">Teachers</span></h2>
    <p class="teachers-text secondary-text">Discover our team of dedicated educators, committed to guiding you on your journey to
        English proficiency with personalized and engaging instruction</p>
    <ul class="teachers-list card-set">
        <li class="teachers-list-item card-set-item">
            <img srcset="./images/teachers/teacher-maria.jpg 1x, ./images/teachers/teacher-maria@2x.jpg 2x" src="./images/teachers/teacher-maria.jpg" alt="Teacher Maria" class="teachers-list-item-photo" />
            <div class="teachers-list-item-content">
                <h3 class="teachers-list-item-name">Maria</h3>
                <p class="teachers-list-item-description secondary-text">A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class</p>
            </div>
        </li>
        <li class="teachers-list-item card-set-item">
            <img srcset="./images/teachers/teacher-artem.jpg 1x, ./images/teachers/teacher-artem@2x.jpg 2x" src="./images/teachers/teacher-artem.jpg" alt="Teacher Artem" class="teachers-list-item-photo" />
            <div class="teachers-list-item-content">
                <h3 class="teachers-list-item-name">Artem</h3>
                <p class="teachers-list-item-description secondary-text">With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated</p>
            </div>
        </li>
        <li class="teachers-list-item card-set-item">
            <img srcset="./images/teachers/teacher-ilona.jpg 1x, ./images/teachers/teacher-ilona@2x.jpg 2x" src="./images/teachers/teacher-ilona.jpg" alt="Teacher Ilona" class="teachers-list-item-photo" />
            <div class="teachers-list-item-content">
                <h3 class="teachers-list-item-name">Ilona</h3>
                <p class="teachers-list-item-description secondary-text">A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks</p>
            </div>
        </li>
        <li class="teachers-list-item card-set-item">
            <img srcset="./images/teachers/teacher-volodymyr.jpg 1x, ./images/teachers/teacher-volodymyr@2x.jpg 2x" src="./images/teachers/teacher-volodymyr.jpg" alt="Teacher Volodymyr" class="teachers-list-item-photo" />
            <div class="teachers-list-item-content">
                <h3 class="teachers-list-item-name">Volodymyr</h3>
                <p class="teachers-list-item-description secondary-text">Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs</p>
            </div>
        </li>
    </ul>
  </div>
</section>